@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.top {
  font-family: "Pacifico", cursive;
  text-align: center;
  margin: 40px 0px;
  font-size: 1rem;
  letter-spacing: 10px;
}

.top_h1 {
  text-decoration: underline;
  padding: 10px;
  margin: auto;
}
